.CodeMirror {
  height: 100%;
  background: #fcfcfb;
  font-size: 18px;
  display: none;
}

.CodeMirror-lines {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.CodeMirror-linenumber {
  padding: 1px 8px 0 20px;
  color: #c3c3c3;
}

.CodeMirror pre {
  padding: 1px 7px;
}

.CodeMirror pre,
.cm-s-default .cm-def,
.cm-s-default .cm-variable {
  color: #534d42;
}

.cm-s-default .cm-keyword {
  color: #2db1ba;
}

.cm-s-default .cm-property {
  color: #458b9e;
}

.cm-s-default .cm-number {
  color: #bc549e;
}

.cm-s-default .cm-operator {
  color: #bc2d88;
}

.cm-s-default .cm-string {
  color: #d842a2;
}